<form [formGroup]="studentForm" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-radio-group formControlName="gender">
    <mat-radio-button value="Male">Male</mat-radio-button>
    <mat-radio-button value="Female">Female</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Course</mat-label>
    <mat-select formControlName="course" required>
      @for (course of courses; track $index) {
        <mat-option [value]="course">{{ course }}</mat-option>
      }
    </mat-select>
    @if (studentForm.get('course')?.hasError('required')) {
      <mat-error>Course is required</mat-error>
    }
  </mat-form-field>

  <div>
    <label>Hobbies:</label>
    @for (hobby of hobbies; track $index) {
      <span>
        <mat-checkbox
          [checked]="(studentForm.get('hobbies')?.value || []).includes(hobby)"
          (change)="hobbyCheckboxSelection($event.checked, hobby)">
          {{ hobby }}
        </mat-checkbox>
      </span>
    }
  </div>

  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCitySelected($event)">
      @for (option of filteredOptions | async; track $index) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
    @if (studentForm.get('city')?.hasError('required')) {
      <mat-error>City is required</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="studentForm.invalid">{{ editingIndex >= 0 ? 'Update' : 'Submit' }}</button>
</form>
