.content-wrapper {
  width: 90%;
  margin: 2rem auto;

  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }

  .actions-container {
    margin: 0 0 1rem auto;
    width: fit-content;
  }
}
